/*
Title: Cookie Cutter joinpage.css
Name: Alex Decknadel
Chemeketa Community College
Class: CIS295
Date: 04/14/2017
Description: This document will stylize and describe
             HTML elements unique to join.php.
*/


/* These CSS rules are unique to join.php */

input[type=text] {
    padding: 4px;
    margin-top: 2%;
    margin-left: 1%;
}

input[type=password] {
    padding: 4px;
    margin-top: 2%;
    margin-left: 1%;
}

input[type=checkbox] {
    margin-top: 4%;
    margin-right: 3%;
}

input[type=submit] {
    margin-top: 4%;
    margin-bottom: 2%;
    width: 15%;
    margin-right: 22%;
}

.jointoday {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333333;
    word-spacing: normal;
    letter-spacing: 1px;
    width: 80%;
    padding-left: 10%;
}

#joinmessage {
    border-bottom: solid;
    border-width: thin;
    padding-bottom: .5em;
    width: 70%;
    margin-left: 15%;
}

#joinform {
    text-align: right;
    width: 50%;
    margin-left: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

#checkboxlabel {
    text-align: left;
    display: inline-block;
    margin-top: 3%;
    font-size: 13px;
}
